<h3>Add a student</h3>

<%= form_tag students_path do %>
  <label>First Name:</label><br>
  <input type="text" id="first_name" name="student[first_name]"><br>

  <label>Post description:</label><br>
  <textarea id="post_description" name="post[description]"></textarea><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" value="Submit Post">
<% end %>
